<section class="container-md px-0">
  <div class="hero-container">
    <div class="mobile-img-container">
      <img
        src="../../assets/images/close-up-virtual-classroom.jpg"
        alt=""
        class="img-fluid"
      />
    </div>
    <div class="desktop-img-container d-none">
      <img
        src="../../assets/images/close-up-virtual-classroom.jpg"
        alt=""
        class="img-fluid"
      />
    </div>
    <div class="info-container mt-5">
      <div>
        <h1 class="display-5 text-center fw-bold mb-3 mobile-heading">
          Make remote work
        </h1>
        <div class="desktop-heading d-none">
          <h1 class="display-5 text-left fw-bold m-0">Make</h1>
          <h1 class="display-5 text-left fw-bold mb-3">remote work</h1>
        </div>
        <p>
          Get yout team in sync, no matter your location. Streamline processes,
          create team rituals, and watch productivity soar.
        </p>
        <button class="learn-more-btn">Learn more</button>
      </div>
      <div class="logo-container">
        <div class="mx-2">
          <img
            src="../../assets/images/client-databiz.svg"
            alt=""
            class="img-fluid"
          />
        </div>
        <div class="mx-2">
          <img
            src="../../assets/images/client-audiophile.svg"
            alt=""
            class="img-fluid"
          />
        </div>
        <div class="mx-2">
          <img
            src="../../assets/images/client-meet.svg"
            alt=""
            class="img-fluid"
          />
        </div>
        <div class="mx-2">
          <img
            src="../../assets/images/client-maker.svg"
            alt=""
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>
</section>
